body {
  font-family: "Lato", sans-serif;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 5;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: orange;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closeshopbtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openshopbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: orange;
  color: white;
  padding: 15px 25px;
  border: none;
}

.openshopbtn:hover {
  background-color:Orange;
}

.sidepanel .closeshopbtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openpaybtn {
  font-size: 20px;
  cursor: pointer;
  background-color: orange;
  color: white;
  padding: 15px 25px;
  border: none;
}

.openpaybtn:hover {
  background-color:Orange;
}


